---
import GoodreadsData from "../components/GoodreadsData.astro";
---

<div class="flex flex-col items-end m-12">
  <a href="/"><img class="w-12" src="/images/illustrations/x.svg" alt="x" /></a>
</div>
<GoodreadsData />
