---
const friends: { name: string; imageLink: string; url: string }[] = [
  {
    name: "aurora",
    imageLink: "/images/friends/aurora_1280.webp",
    url: "https://kennedy.no",
  },
  {
    name: "isak",
    imageLink: "/images/friends/isak_1280.webp",
    url: "https://isak.me/",
  },
  {
    name: "magnus",
    imageLink: "/images/friends/magnus_1280.webp",
    url: "https://www.magnus.ouren.no",
  },
  //   { name: "mattias", imageLink: "/images/friends/mattias_1280.webp", url: "https://www.mattiastofte.dev"},
  {
    name: "nuutti",
    imageLink: "/images/friends/nuutti_1280.webp",
    url: "https://nuutti.no",
  },
];
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/images/illustrations/star.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>friends</title>
</head>
<div class="w-full lg:w-3/5">
  <div class="flex flex-col m-12 items-end">
    <a href="/"><img class="w-8" src="/images/illustrations/x.svg" alt="x" /></a
    >
  </div>
  <div
    class="flex flex-row flex-wrap gap-8 m-12 lg:ml-28 tracking-wide text-neutral-800"
  >
    {
      friends.map((friend) => (
        <a class="flex flex-col gap-2" href={friend.url}>
          <img class="w-36 sm:w-28" src={friend.imageLink} alt="friend" />
          <p>{friend.name}</p>
        </a>
      ))
    }
  </div>
</div>
