---
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>helloklara</title>
</head>
<body>
  <MainLayout title="About">
    <p>
      Hello, my name is Klara. Originally from Oslo, I am a developer and
      designer who has studied in Trondheim and Oslo. I received my B. Sc Degree
      from the Norwegian University of Science and Technology in 2024 and I am
      currently working on my M. Sc in Design, Use and Interaction at the
      University of Oslo. I am also taking some classes in Media and
      Communication on the side. During my time at NTNU in Trondheim, I
      valunteered in the Business-committee, getting a insight into the
      cooperation between a large student-organisation and the corperate world.
      My design philosophy stems from a deeply rooted belief that impactful
      design requires truly listening to the people and their needs. I am
      especially interested in exploring alternative approaches to dwelling,
      adaptive reuse and innovative, and ultimately, how software can improve
      the daily lives of its inhabitants.
    </p>
    <a href="mailto: klarawust@gmail.com">klarawust@gmail.com</a>
  </MainLayout>
  <div class="w-60 m-16">
    <img src="public/images/klara_1280.webp" alt="Me" />
  </div>
</body>
