---
import Folder from "../components/Folder.astro";
import LinkList from "../components/LinkList.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/images/illustrations/star.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>helloklara</title>
</head>
<body>
  <MainLayout title="About">
    <LinkList />
    <p>
      Hi, I'm Klara, a developer originally from Oslo. I recently graduated with
      a B. Sc degree in Informatics from the Norwegian University of Science and
      Technology in Trondheim. I enjoy spending time with friends and familiy,
      going to cafés, bars, eat out and visiting exibitions and theaters. I also
      like keeping busy with programming projects and pursuing my hobbies, like
      knitting, reading and other crafts. Stay tuned for updates here on my
      personal website!
    </p>
    <div class="flex flex-row flex-wrap gap-4 sm:gap-16">
      <Folder name="pics" />
      <Folder name="friends" />
      <Folder name="books" />
    </div>
  </MainLayout>
</body>
