---
import Folder from "../components/Folder.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>helloklara</title>
</head>
<body>
  <MainLayout title="About">
    <p>
      Hi, I'm Klara, a developer originally from Oslo. I'm currently studying in
      Trondheim and will be graduating with a B. Sc. degree from the Norwegian
      University of Science and Technology in 2024. During my time at NTNU in
      Trondheim, I volunteered in the Business Committee, gaining insights into
      the collaboration between a student organization and various IT companies.
      I enjoy keeping busy with programming projects, spending time with friends
      and family, and pursuing my hobbies. Stay tuned for updates on my personal
      website!
    </p>
    <a href="mailto: klarawust@gmail.com">klarawust@gmail.com</a>
    <div class="flex flex-row gap-16 mt-16">
      <Folder name="pics" />
      <Folder name="friends" />
      <Folder name="books" />
    </div>
  </MainLayout>
</body>
<div class="w-60 m-16">
  <img src="public/images/klara_1280.webp" alt="Me" />
</div>
