---
import Folder from "../components/Folder.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>helloklara</title>
</head>
<body>
  <MainLayout title="About">
    <p>Hello, my name is Klara. Originally from Oslo, I am a developer</p>
    <a href="mailto: klarawust@gmail.com">klarawust@gmail.com</a>
    <div class="flex flex-row gap-16 mt-16">
      <Folder name="pics" />
      <Folder name="friends" />
      <Folder name="books" />
    </div>
  </MainLayout>
</body>
<div class="w-60 m-16">
  <img src="public/images/klara_1280.webp" alt="Me" />
</div>
