---
import PortfolioContent from "../components/PortfolioContent.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/images/illustrations/star.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
</head>
<body>
  <MainLayout title="Portfolio">
    <!-- <PortfolioContent /> -->
    <img class="w-32" src="/images/illustrations/bigstar.svg" alt="bigstar" />
  </MainLayout>
</body>
