---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectsContent from "../components/ProjectsContent.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/images/illustrations/star.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
</head>
<body>
  <MainLayout title="Projects">
    <p class="italic">
      Here you will find some of my IT-projects from the last years. Most of
      them are made through uni-courses, some are work, and some of them are
      sparetime projects to learn new technologies or test out something I have
      learned.
    </p>
    <ProjectsContent />
    <img class="w-36" src="/images/illustrations/bigstar.svg" alt="bigstar" />
  </MainLayout>
</body>
