---
const { name } = Astro.props;
---

<div class="w-16 text-center text-xs">
  <button onclick="">
    <a href={`/${name}/`}>
      <img src="/images/illustrations/folder.png" alt="Folder" />
      <p>{name}</p>
    </a>
  </button>
</div>
