---
const links: { type: string; url: string }[] = [
  { type: "mail", url: "klarawust@gmail.com" },
  { type: "github", url: "https://github.com/klarawust" },
  { type: "linkedin", url: "https://www.linkedin.com/in/klarawust/" },
  { type: "instagram", url: "https://www.instagram.com/klarawustenberg/" },
];
---

<div class="flex flex-row gap-1 sm:gap-4">
  <img class="w-4" src="/images/illustrations/star.svg" alt="star" />

  {
    links.map((link) => (
      <div class="flex flex-row gap-2">
        {link.type === "mail" ? (
          <a class="hover:text-yellow-300" href={`mailto:${link.url}`}>
            {link.type}
          </a>
        ) : (
          <a class="hover:text-yellow-300" href={link.url}>
            {link.type}
          </a>
        )}
        <img
          class="w-4 hidden lg:block"
          src="/images/illustrations/star.svg"
          alt="star"
        />
      </div>
    ))
  }
</div>
