---
import Navbar from "../components/Navbar.astro";
import NavbarPhone from "../components/NavbarPhone.astro";
const { title } = Astro.props;
---

<div class="hidden md:flex flex-row gap-16 tracking-wide text-neutral-800">
  <Navbar />
  <div class="flex flex-col gap-8 sm:w-[500px] w-[400px] my-16 pr-4">
    <h1 class="text-3xl">{title}</h1>
    <slot />
  </div>
</div>
<div
  class="md:hidden flex flex-col items-center tracking-wide text-neutral-800"
>
  <NavbarPhone />
  <div class="flex flex-col gap-8 sm:w-[500px] w-[400px] p-16">
    <h1 class="text-3xl">{title}</h1>
    <slot />
  </div>
</div>
