<!-- This code is not very pretty, because it is copied directly from a goodreads-widget to get all data and links correct. -->
<style>
  img {
    width: 80px;
  }
  @media (max-width: 640px) {
    img {
      width: 100px;
    }
  }
  h1 {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }
</style>

<div class="flex flex-col gap-8 m-12 lg:ml-28 tracking-wide text-neutral-800">
  <h1>2023</h1>
  <div class="flex flex-row flex-wrap gap-4">
    <a
      title="Vi er fem"
      href="https://www.goodreads.com/book/show/52713006-vi-er-fem"
      ><img
        alt="Vi er fem"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1570824167l/52713006._SY160_.jpg"
      /></a
    >
    <a
      title="Animal Farm"
      href="https://www.goodreads.com/book/show/170448.Animal_Farm"
      ><img
        alt="Animal Farm"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1325861570l/170448._SY160_.jpg"
      /></a
    >
    <a
      title="Helvete"
      href="https://www.goodreads.com/book/show/46005582-helvete"
      ><img
        alt="Helvete"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1558715828l/46005582._SX98_.jpg"
      /></a
    >
    <a
      title="Han, hun og hen - håndbok i språk og makt"
      href="https://www.goodreads.com/book/show/62693602-han-hun-og-hen---h-ndbok-i-spr-k-og-makt"
      ><img
        alt="Han, hun og hen - håndbok i språk og makt"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1663919615l/62693602._SX98_.jpg"
      /></a
    >
    <a
      title="Der junge Mann"
      href="https://www.goodreads.com/book/show/63127807-der-junge-mann"
      ><img
        alt="Der junge Mann"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1667071309l/63127807._SY160_.jpg"
      /></a
    >
    <a
      title="Stakkar"
      href="https://www.goodreads.com/book/show/62686803-stakkar"
      ><img
        alt="Stakkar"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1663841515l/62686803._SX98_.jpg"
      /></a
    >
    <a
      title="My Year of Rest and Relaxation"
      href="https://www.goodreads.com/book/show/44279110-my-year-of-rest-and-relaxation"
      ><img
        alt="My Year of Rest and Relaxation"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1597676656l/44279110._SX98_.jpg"
      /></a
    >
    <a
      title="Samtykket"
      href="https://www.goodreads.com/book/show/53615084-samtykket"
      ><img
        alt="Samtykket"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1590755735l/53615084._SX98_.jpg"
      /></a
    >
    <a
      title="Søsterklokkene (Hekne, #1)"
      href="https://www.goodreads.com/book/show/40884944-s-sterklokkene"
      ><img
        alt="Søsterklokkene"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1535094424l/40884944._SX98_.jpg"
      /></a
    >
    <a
      title="Ekko: Et essay om algoritmer og begjær"
      href="https://www.goodreads.com/book/show/57978448-ekko"
      ><img
        alt="Ekko: Et essay om algoritmer og begjær"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1628782096l/57978448._SX98_.jpg"
      /></a
    >
    <a
      title="Mamma er trygda"
      href="https://www.goodreads.com/book/show/52366263-mamma-er-trygda"
      ><img
        alt="Mamma er trygda"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1566679942l/52366263._SX98_SY160_.jpg"
      /></a
    >
    <a
      title="Klara og solen"
      href="https://www.goodreads.com/book/show/56617936-klara-og-solen"
      ><img
        alt="Klara og solen"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1610309223l/56617936._SX98_.jpg"
      /></a
    >
  </div>
  <h1>2022</h1>
  <div id="2022" class="flex flex-row flex-wrap gap-4">
    <a
      title="Men du ser ikke syk ut"
      href="https://www.goodreads.com/book/show/53265455-men-du-ser-ikke-syk-ut"
      ><img
        alt="Men du ser ikke syk ut"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1587896806l/53265455._SX98_.jpg"
      /></a
    >
    <a
      title="En dag vil vi grine af det"
      href="https://www.goodreads.com/book/show/39722124-en-dag-vil-vi-grine-af-det"
      ><img
        alt="En dag vil vi grine af det"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1522913501l/39722124._SX98_.jpg"
      /></a
    >
    <a
      title="Ein anderer Blick: Feministischer Comic gegen die Zumutungen des Alltags"
      href="https://www.goodreads.com/book/show/56050643-ein-anderer-blick"
      ><img
        alt="Ein anderer Blick: Feministischer Comic gegen die Zumutungen des Alltags"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1606395623l/56050643._SX98_.jpg"
      /></a
    >
    <a
      title="Hvis der skulle komme et menneske forbi"
      href="https://www.goodreads.com/book/show/33798117-hvis-der-skulle-komme-et-menneske-forbi"
      ><img
        alt="Hvis der skulle komme et menneske forbi"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1483613722l/33798117._SX98_.jpg"
      /></a
    >
    <a
      title="Komplett Gänsehaut"
      href="https://www.goodreads.com/book/show/55848259-komplett-g-nsehaut"
      ><img
        alt="Komplett Gänsehaut"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1604511072l/55848259._SX98_.jpg"
      /></a
    >
    <a
      title="Giovanni's Room"
      href="https://www.goodreads.com/book/show/38462.Giovanni_s_Room"
      ><img
        alt="Giovanni's Room"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1501485157l/38462._SX98_.jpg"
      /></a
    >
    <a
      title="Jeg har ventet på deg"
      href="https://www.goodreads.com/book/show/24149132-jeg-har-ventet-p-deg"
      ><img
        alt="Jeg har ventet på deg"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1419784299l/24149132._SX98_.jpg"
      /></a
    >
    <a
      title="The Bookseller of Kabul"
      href="https://www.goodreads.com/book/show/9838.The_Bookseller_of_Kabul"
      ><img
        alt="The Bookseller of Kabul"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388611939l/9838._SX98_.jpg"
      /></a
    >
  </div>

  <h1>2021</h1>
  <div class="flex flex-row flex-wrap gap-4">
    <a
      title="Stargate - en julefortelling"
      href="https://www.goodreads.com/book/show/59359016-stargate---en-julefortelling"
      ><img
        alt="Stargate - en julefortelling"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1636461522l/59359016._SX98_.jpg"
      /></a
    >
    <a
      title="Stillemannen"
      href="https://www.goodreads.com/book/show/6665435-stillemannen"
      ><img
        alt="Stillemannen"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1300225823l/6665435._SX98_.jpg"
      /></a
    >

    <a
      title="Hässelby"
      href="https://www.goodreads.com/book/show/2404797.H_sselby"
      ><img
        alt="Hässelby"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1330168947l/2404797._SX98_.jpg"
      /></a
    >
    <a
      title="Tatt av kvinnen"
      href="https://www.goodreads.com/book/show/382886.Tatt_av_kvinnen"
      ><img
        alt="Tatt av kvinnen"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1302688655l/382886._SY160_.jpg"
      /></a
    >
    <a
      title="Mannen som elsket Yngve (Jarle Klepp, #1)"
      href="https://www.goodreads.com/book/show/656960.Mannen_som_elsket_Yngve"
      ><img
        alt="Mannen som elsket Yngve"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1352160361l/656960._SX98_.jpg"
      /></a
    >
    <a
      title="Den lukkede bok"
      href="https://www.goodreads.com/book/show/2369776.Den_lukkede_bok"
      ><img
        alt="Den lukkede bok"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1316293696l/2369776._SX98_.jpg"
      /></a
    >
    <a
      title="Ære være mine døtre"
      href="https://www.goodreads.com/book/show/34597119-re-v-re-mine-d-tre"
      ><img
        alt="Ære være mine døtre"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1492883850l/34597119._SX98_.jpg"
      /></a
    >
    <a
      title="To søstre"
      href="https://www.goodreads.com/book/show/32740863-to-s-stre"
      ><img
        alt="To søstre"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1477382740l/32740863._SX98_.jpg"
      /></a
    >
    <a
      title="Dei vaksnes løgnaktige liv"
      href="https://www.goodreads.com/book/show/50540947-dei-vaksnes-l-gnaktige-liv"
      ><img
        alt="Dei vaksnes løgnaktige liv"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1592500999l/50540947._SX98_.jpg"
      /></a
    >
    <a
      title="Tvillingenes dagbok (Claus og Lucas #1)"
      href="https://www.goodreads.com/book/show/46026300-tvillingenes-dagbok"
      ><img
        alt="Tvillingenes dagbok"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1558980573l/46026300._SX98_.jpg"
      /></a
    >
    <a
      title="Norwegian Wood"
      href="https://www.goodreads.com/book/show/11297.Norwegian_Wood"
      ><img
        alt="Norwegian Wood"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1699682893l/11297._SY160_.jpg"
      /></a
    >
    <a
      title="The Catcher in the Rye"
      href="https://www.goodreads.com/book/show/5107.The_Catcher_in_the_Rye"
      ><img
        alt="The Catcher in the Rye"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1398034300l/5107._SX98_.jpg"
      /></a
    >
  </div>
  <h1>2020</h1>
  <div class="flex flex-row flex-wrap gap-4">
    <a title="Muleum" href="https://www.goodreads.com/book/show/3869157-muleum"
      ><img
        alt="Muleum"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1223986709l/3869157._SX98_.jpg"
      /></a
    >
    <a
      title="Kollektivt selvmord"
      href="https://www.goodreads.com/book/show/5267092-kollektivt-selvmord"
      ><img
        alt="Kollektivt selvmord"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1225056528l/5267092._SX98_.jpg"
      /></a
    >
    <a
      title="Tschick"
      href="https://www.goodreads.com/book/show/9397145-tschick"
      ><img
        alt="Tschick"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328186784l/9397145._SX98_.jpg"
      /></a
    >
    <a
      title="The Metamorphosis"
      href="https://www.goodreads.com/book/show/485894.The_Metamorphosis"
      ><img
        alt="The Metamorphosis"
        src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1646444605l/485894._SY160_.jpg"
      /></a
    >
  </div>
</div>
